@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');


body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.top{
    background-color: #1F2937;
    height: 500px;
}

header{
    display: flex;
    justify-content: space-evenly;
}

.header{
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    flex: 1;
}

.link{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    gap: 25px;
}

.link a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.welcome{
    display: flex;
    justify-content: space-evenly;
    padding: 40px;
}

h1{
    font-size: 48px;
    color: #F9FAF8;
    width: 397px;
}

.description{
    font-size: 18px;
    color: #E5E7EB;
    width: 304px;
}

button{
    background: #3882F6;
    color: #E5E7EB;
    font-weight: bold;
    border-radius: 15px;
    height: 32px;
    width: 123px;
}

.placeholder{
    background-color: grey;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 192px;
    width: 502px;
}

h2{
    justify-content: center;
    align-content: center;
    display: flex;
    margin: 50px;
}

.pictures{
    display: flex;
    justify-content: space-evenly;
}

.picture{
    width: 150px;
    height: 150px;
    border: 10px solid #3882F6;
    text-align: center;
    border-radius: 10px;
}

img{
    height: 150px;
    width: 150px;
}

.two{
    margin: 102px
}

.three{
    background: #E5E7EB;
    display: block;
    padding: 100px;
}

.quote{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.author{
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}

.four{
    display: block;
    justify-content: center;
    background: #3882F6;
    color: #E5E7EB;
    margin: 40px;
}

.action-text{
    display: flex;
    justify-content: center;
}

.bottom-sign-up{
    display: flex;
    justify-content: center;
}

.bottom-button{
    border: 5px solid white;
}

footer{
    background: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}